@model Message



@{ var modelId = "aboutDetailSectionModal_" + Model.Id.ToString();
        }
<div class="container">
    <div class="modal fade" tabindex="-1" id="@modelId"
         data-keyboard="false" data-backdrop="stuatic">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">@Model.MessageTitle</h4>

                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <ul>
                            @{
                                foreach (var message in Model.MessageDetails)
                                {
                                    if (message.MessageTitle == "*")
                                    {
                                            <li>@message.MessageSummary</li>    
                                    }
                                    else
                                    {
                        <li>
                            
                            <div class="border-dark">
                                <h5 class="text-black-50">@message.MessageTitle</h5>
                                <span class="border-left">
                                    @message.MessageSummary
                                </span>
                            </div>
                            <hr />
                        </li>
                                    }

                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
            <button type="button" id="btnHideModal" class="btn btn-primary button button4" onclick="closeAboutDialog(@Model.Id)">
                Hide
            </button>
        </div>
                </div>
        </div>
    </div>
</div>